@model List<BoutiqueProject.Models.Product>
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<h2>AddProduct</h2>
<div class="container-fluid mt-5 content-inner">
    <div class="card mb-4 wow fadeIn">
        <!--Card content-->
        <!--<div class="card-body d-sm-flex justify-content-between">

            <h4 class="mb-2 mb-sm-0 pt-1">
                <a href="@Url.Action("Index","SuperAdmin")" target="_blank">Home Page</a>
                <span></span>
                <span></span>
            </h4>

        </div>-->
    </div>
    <div class="row wow fadeIn title_header">
        <!--Grid column1-->
        <div class="col-md-12 mb-4">
            <div class="card mb-4">
                <!-- Card header -->
                <div class="card-header text-left blue-gradient text-white mdtitle">
                    Product
                </div>

                <!--Card content-->
                <div class="card-body table-responsive">
                    @using (Html.BeginForm("AddProduct", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {
                        @Html.Partial("_addproduct", new BoutiqueProject.Models.Product())
                    }

                    <table id="dtBasicExample" class="table table-striped">
                        <thead>
                            <tr class="text-center gaurang-gradient">
                                <th>
                                    product
                                </th>
                                <th>
                                    product Image
                                </th>
                                <th>
                                    product Price
                                </th>

                                <th>
                                    product Describtion
                                </th>

                                <th>
                                    Edit
                                </th>
                                <th>
                                    Delete
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr align="center">
                                    <td>
                                        @item.pname
                                    </td>
                                    <td>
                                        <img src="~/product/@item.prodpic" height="100" width="100" />
                                    </td>
                                    <td>
                                        @item.price
                                    </td>
                                    <td>
                                        @item.pdescription
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "EditProduct", new { id = item.pid })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Delete", "DeleteProduct", new { id = item.pid }, new { @onclick = "return confirm('r u sure want to del?')" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




